.webChat-Message {
    width: 100%;
}

.webChat-Message-left {
    width: 100%;
    justify-content: flex-start;
    display: flex;
}   

.webChat-Message-left > div {
    background-color: #f6f3f5;
    margin: 10px;
    word-wrap: break-word; 
    border-radius: 10px;
    margin-left: 2px;
}

.webChat-Message-right {
    justify-content: flex-end;
    display: flex;
}

.webChat-Message-right > div {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.webChat-Message-right > div > div {
    background-color: #09c8ff;
    /* width: 70%; */
    word-wrap: break-word; 
    border-radius: 10px;
    margin: 10px;
    margin-left: 2px;
}