.UserObj {
    height: 60px;
    margin-bottom: 3px;
    border-bottom: 1px solid #f4f5f6;
    display: flex;
    cursor: pointer;
}

.UserObj > div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.UserObj > img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}